@import url('https://fonts.googleapis.com/css2?family=Sen:wght@800&family=Yanone+Kaffeesatz:wght@200;300&display=swap');


body {
    
    position: absolute;
    margin: 0;
    padding: 0;
}

header{
    z-index: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 20px 35px rgb(148, 146, 146);
    position:fixed;
    backdrop-filter: blur(5px);
    
}

.mitte{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
      }




nav ul{
    
    opacity: 1;
	margin-left: 160px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    font-style: italic;
    list-style: none;
    color:rgb(146, 146, 145);
    
    
    
      }




nav ul li{
    padding: 0px;
    margin:5px;
    padding-top: center;
    text-shadow: 1px 1px 5px
    rgb(71, 71, 71); 
   
}

nav ul li:hover{
    text-shadow: -1px -1px 2px
    rgb(90, 90, 90);           
    cursor: pointer;      
}

    
.logo{ 
    z-index: 999; 
    position: absolute;
    padding-bottom: 9px;
    left: 55px;
        font-family: 'Sen', sans-serif;
        color:white;
        font-style: italic;
        font-weight: 900;
        font-size: 60px;
        text-shadow: -1px -1px 0px rgb(212, 212, 212),
        1px 1px 10px rgba(39, 39, 39,15);   
     }

.logo1{
    position: absolute;
    top: 19px;
    left: 235px;
    font-family: 'Sen', sans-serif;
        color:white;
        font-style: italic;
        font-weight: 200;
        font-size: 30px;
        text-shadow: -1px -1px 0px rgb(185, 185, 184),
        1px 1px 5px rgba(39, 39, 39,20);
      }








#video-background{
    width: 100%;
    position: absolute;
    z-index: -1;

}


.opener{
    
    color:rgb(95, 176, 241);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    text-shadow: -1px 2px 3px rgb(182, 181, 181);
    text-align: center;
    margin-top: 120px;
    margin-left: 20px;
    padding: 20px;

}



.text-gross{
    color:rgb(95, 176, 241);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    font-weight: 900;
    font-size: 40px;
    margin-top: 20px;
    text-shadow: -1px 2px 3px rgb(180, 179, 179);
}


.text-klein{
    color:rgb(18, 18, 19);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    text-align: center;	
    text-shadow: -1px -1px 9px rgb(46, 108, 190);

}


.wd-text-klein{
    color:rgb(18, 18, 19);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    text-align: center;	
    text-shadow: -1px -1px 9px rgb(46, 108, 190);

}



/* 3 Bilder Center */
.pip{
    box-shadow: 1px 1px 1px #ffffff,
                -1px -1px 1px #dddddd, 
                5px 5px 20px #000000; 
    border-radius: 10px  
}





.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    
    padding: 5px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    margin-top: 5px;
    font-size: 30px;
  }

.wd-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
    margin:150px 150px 50px;
    padding-right: 550px;

}


.wd-foto-container{
    
    
    margin: 550px;
}

.wd-text-gross{
    color:rgb(95, 176, 241);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-align: center;	
    text-shadow: -1px -1px 3px rgb(83, 83, 83);
}




@media screen and (max-width: 800px){


    .wd-text-klein{
        .text-klein{
            color:rgb(18, 18, 19);
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-size: 14px;
            
            text-shadow: -1px -1px 9px rgb(46, 108, 190);
        
        }
    }


    .wd-text-gross{
        font-size: 28px;
    font-weight: 300;

    }

    .wd-container{
        margin:110px;
        margin-right: 350px;
        margin-left: 10px;
    }


    nav ul{
        opacity: 0;
        display: none;
    }
    
    nav ul li{
        display: none;
    }
    
    .logo{
        font-size: 30px;
    }
    .logo1{
        font-size: 18px;
        top: 7px;
        left: 146px;
    }
    .pip{
        width: 60%;
        height:auto
        

    }
    
    .text-gross{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 500;
        font-size: 30px;
        margin-top: 15px;
    }
    
    
    .text-klein{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 14px;
    }


    .grid-container {
        display: grid;
        grid-template-columns: auto;
        margin-top: 30px;

    }

    .grid-container > div {
        text-align: center;
        padding: 20px 0;
        margin-top: auto;
        font-size: 30px;
      }
    
      .opener{
        color:rgb(95, 176, 241);
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 18px;
        font-weight: 600;
        font-size: 16px;
        margin-top: 20px;
        text-shadow: -1px 2px 3px rgb(182, 181, 181);
        text-align: center;
        margin-top: 50px;
        margin-left: 20px;
        padding: 20px;
    
    }  

    p{
        font-size: 16px;
    }


    }